<h1 style="background-color: darkgrey; padding-left: 5px">Ressources Humaines</h1>
<table class="table">
  <thead class="thead-dark">
  <tr>
    <th>ID</th>
    <th>Nom</th>
    <th>Prenom</th>
    <th>Rôle</th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let rh of ressourceHumaines">
    <td>{{rh.id}}</td>
    <td>{{rh.nom}}</td>
    <td>{{rh.prenom}}</td>
    <td>{{rh.type}}</td>
    <td>
      <a href="" class="btn btn-info" [routerLink]="['/ressourcehumaine', 'edit', rh.id]">Editer</a>
      <button class="btn btn-danger supr" (click)="delete(rh.id)"> Supprimer</button>
    </td>
  </tr>
  </tbody>
  <tfoot>
  <tr>
    <td><a href="" class="btn btn-primary" [routerLink]="['create', 'Stagiaire']">Ajout Stagiaire</a></td>
    <td><a href="" class="btn btn-primary" [routerLink]="['create', 'Gestionnaire']">Ajout Gestionnaire</a></td>
    <td><a href="" class="btn btn-primary" [routerLink]="['create', 'Technicien']">Ajout Technicien</a></td>
    <td><a href="" class="btn btn-primary" [routerLink]="['create', 'Formateur']">Ajout Formateur</a></td>
  </tr>
  </tfoot>

</table>
