<h1>Liste des leçons</h1>
<table class="table">
  <tr>
    <th>ID</th>
    <th>Date début</th>
    <th>Date fin</th>
    <th>Cursus</th>
    <th>Formateur</th>
    <th>Matiere</th>
    <th></th>
    <th></th>
  </tr>
  <tr *ngFor="let l of lessons">
    <td>{{l.id}}</td>
    <td>{{l.dateDebut}}</td>
    <td>{{l.dateFin}}</td>
    <td></td>
    <td></td>
    <td></td>
    <td><a href="" [routerLink]="['/lesson', 'edit', l.id]" class="btn btn-info">Editer</a><td>
    <td><button (click)="delete(l.id)" class="btn btn-danger">Supprimer</button></td>
  </tr>
</table>

<a href="" [routerLink]="['/lesson', 'create']" class="btn btn-info">Ajouter</a>
