<div class="jumbotron">

  <div class="row">
    <img class="logo col-sm-3" src="assets/images/logo.png" alt=" First slide">
    <h1 class="col-sm-7 titre">

      {{ title }}
    </h1>
  </div>

</div>
<div class="row container">
  <div class="col-2">
    <ul class="list-group">
      <li class="list-group-item list-group-item-primary" routerLinkActive="active"><a [routerLink]="['/auth']">Authentification</a>
      </li>
      <li class="list-group-item list-group-item-primary" routerLinkActive="active"><a href="" [routerLink]="['/home']">Home</a>
      </li>
      <li class="list-group-item list-group-item-primary" routerLinkActive="active"><a href=""
                                                                                       [routerLink]="['/ressourcematerielle']"
      >Materiel</a></li>
      <li class="list-group-item list-group-item-primary" routerLinkActive="active"><a href=""
                                                                                       [routerLink]="['/ressourcehumaine']"
      >Humain</a></li>
      <li class="list-group-item list-group-item-primary" routerLinkActive="active"><a href=""
                                                                                       [routerLink]="['/cursus']"
      >Cursus</a></li>
      <li class="list-group-item list-group-item-primary" routerLinkActive="active"><a href=""
                                                                                       [routerLink]="['matiere']"
      >Matière</a></li>
      <li class="list-group-item list-group-item-primary" routerLinkActive="active"><a href=""
                                                                                       [routerLink]="['/lesson']"
      >Lesson</a></li>
      <li class="list-group-item list-group-item-primary" routerLinkActive="active"><a href="" [routerLink]="['/login']"
      >Login</a></li>
    </ul>
  </div>
  <div class="col-10">

    <router-outlet></router-outlet>
  </div>
</div>

