.contient {
  background-image: url("../assets/images/pattern_gris_clair_resize.png");
  background-color: #cccccc;

  background-repeat: repeat;
  font-size: 150%;
  font-family: Arial, Helvetica, sans-serif;
}

footer {
  background-color: grey;
  font-size: 150%;
}


li {
  text-align: center;
}

a {
  color: black;
}

.jumbotron {

  text-align: center;
}


.logo {
  width: 50px;
  height: 120px;
  padding: 0px;
  margin-left: 20px;
}

.titre {
  vertical-align: bottom;
  margin: 0px;
  padding-top: 20px;
}


