<div class="jumbotron">

  <div class="row">
    <img class="logo col-sm-3" src="assets/images/logo.png" alt=" First slide">
    <h1 class="col-sm-7 titre">

      {{ title }}
    </h1>
  </div>

</div>
<div class="row container">
  <div class="col-2">
    <ul class="list-group">
      <li class="list-group-item list-group-item-primary"><a href="" [routerLink]="['/home']" routerLinkActive="active">Home</a>
      </li>
      <li class="list-group-item list-group-item-primary"><a href="" [routerLink]="['/ressourcematerielle']"
                                                             routerLinkActive="active">Materiel</a></li>
      <li class="list-group-item list-group-item-primary"><a href="" [routerLink]="['/ressourcehumaine']"
                                                             routerLinkActive="active">Humain</a></li>
      <li class="list-group-item list-group-item-primary"><a href="" [routerLink]="['/cursus']"
                                                             routerLinkActive="active">Cursus</a></li>
      <li class="list-group-item list-group-item-primary"><a href="" [routerLink]="['matiere']"
                                                             routerLinkActive="active">Matière</a></li>
      <li class="list-group-item list-group-item-primary"><a href="" [routerLink]="['/lesson']"
                                                             routerLinkActive="active">Lesson</a></li>
    </ul>
  </div>
  <div class="col-10">

    <router-outlet></router-outlet>
  </div>
</div>

