<div class="container">
  <form (ngSubmit)="save(cursus)" #form="ngForm">
    <div class="form-group">
      <label for="id">id :</label>
      <input id="id" name="id" class="form-control" [(ngModel)]="cursus.id" readonly="true"/>
    </div>
    <div class="form-group">
      <label for="dateDebut">nom :</label>
      <input id="dateDebut" name="dateDebut" type="date" class="form-control" required [(ngModel)]="cursus.dateDebut"
             #nom="ngModel"/>
    </div>
    <div class="form-group">
      <label for="dateFin">nom :</label>
      <input id="dateFin" name="dateFin" type="date" class="form-control" required [(ngModel)]="cursus.dateFin" #nom="ngModel"/>
    </div>

    <button type="submit" [disabled]="form.invalid" class="btn btn-success">save</button>
  </form>
</div>
