<h1>Les Cursus</h1>
<table class="table">
  <thead>
  <tr>
    <th>Id :</th>
    <th>Dates du cursus :</th>
    <th>Capacité d'acceuil (cursus/salle) :</th>
    <th>Salle :</th>
    <th>Vidéo Projecteur :</th>


    <th></th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let c of cursus">
    <td>{{c.id}}</td>
    <td>{{c.dateDebut}} / {{c.dateFin}}</td>

    <td *ngIf="c.salle">{{c.nbStagiaire}} / {{c.salle.nbPersonne}}</td>
    <td *ngIf="!c.salle">{{c.nbStagiaire}} / NA </td>

    <td *ngIf="c.salle">{{c.salle.code}}</td>
    <td *ngIf="!c.salle"></td>

    <td *ngIf="c.videoProjecteur">{{c.videoProjecteur.code}}</td>
    <td *ngIf="!c.videoProjecteur"></td>




    <td><a href="" class="btn btn-info" [routerLink]="['/cursus', 'edit', c.id]">Editer</a></td>
    <td>
      <button class="btn btn-danger" (click)="delete(c.id)"> Supprimer</button>
    </td>
  </tr>
  </tbody>
  <tfoot>
  <tr>
    <td><a href="" class="btn btn-primary" [routerLink]="['create']">Ajouter</a></td>
  </tr>
  </tfoot>
  <button (click)="compteur(21)">21</button>
</table>
