<h1>Liste des Ressources Materielles</h1>
<table class="table">
  <tr >
    <th scope="col">ID</th>
    <th scope="col">Code Ressource</th>
    <th scope="col">Coût d'utilisation à la journée</th>
    <th scope="col">Type de ressource</th>
    <th><input type='text' [(ngModel)]="value"></th>
  </tr>
  <tr *ngFor="let r of testNom(), let index=index">
    <td scope="rol">{{r.id}}</td>
    <td scope="rol">{{r.code}}</td>
    <td scope="rol">{{r.coutUtilisation}}</td>
    <td scope="rol">{{r.type}}</td>
    <td><a href="" class="btn btn-info" [routerLink]="['/ressourcematerielle', 'edit', r.id]">Editer</a></td>
    <td><button class="btn btn-danger" (click)="delete(r.id)"> Supprimer</button></td>
  </tr>
  <tr>
    <th>Total du coût d'utilisation /jour:</th>
    <td scope="rol">{{somme()}}</td>
  </tr>

    <tfoot>
    <tr>
      <td><a href="" class="btn btn-primary" [routerLink]="['create', 'Salle']">Ajout Salle</a></td>
      <td><a href="" class="btn btn-secondary" [routerLink]="['create', 'Ordinateur']">Ajout Ordinateur</a></td>
      <td><a href="" class="btn btn-tertiary" [routerLink]="['create', 'VideoProjecteur']">Ajout Video-projecteur</a></td>
    </tr>
    </tfoot>

</table>
<h2>Liste des Ordinateurs</h2>
<table class="table">
<tr>
  <th>ID materiel</th>
  <th>Code materiel</th>
  <th>Processeur</th>
  <th>Ram</th>
  <th>Disque Dur</th>
  <th>Annee d'achat</th>
</tr>
  <tr *ngFor="let r of ressources">
    <td>{{r.id}}</td>
    <td>{{r.code}}</td>
    <td>{{r.processeur}}</td>
    <td>{{r.ram}}</td>
    <td>{{r.disqueDur}}</td>
    <td>{{r.anneeAchat}}</td>
  </tr>
</table>
<h2>Liste des video-projecteurs</h2>
<table class="table">
  <tr>
    <th>ID materiel</th>
    <th>Code materiel</th>
    <th>ID Cursus</th>
  </tr>
</table>
<h2>Liste des Salles</h2>
<table class="table">
  <tr>
    <th>Id Salle</th>
    <th>Code</th>
    <th>Nombre de personnes</th>
    <th>ID Cursus</th>
  </tr>
</table>

