<div class="container">
  <form (ngSubmit)="save(ressourceMaterielle.type)" #form="ngForm">
    <div class="form-group">
      <label for="type">Type &nbsp;</label>
      <input class="form-control" id="type" name="type" [(ngModel)]="ressourceMaterielle.type" readonly="true"/>
    </div>
    <div class="form-group">
      <label for="id">ID&nbsp;</label>
      <input id="id" name="id" class="form-control" [(ngModel)]="ressourceMaterielle.id" readonly="true"/>
    </div>
    <div class="form-group">
      <label for="code" >Code&nbsp;</label>
      <input id="code" name="code" class="form-control" required [(ngModel)]="ressourceMaterielle.code"
             #code="ngModel"/>
      <div *ngIf="code.dirty&&code.hasError('required')" style="background-color: darkgrey; padding-left: 5px">Code obligatoire</div>
    </div>
    <div class="form-group">
      <label for="cout" >Cout d'utilisation à la journee &nbsp;</label><br>
      <input class="cout" id="cout" name="cout" required [(ngModel)]="ressourceMaterielle.coutUtilisation"/>
      <!--      <div *ngIf="ressourceMaterielle.coutUtilisation.dirty&&ressourceMaterielle.coutUtilisation.hasError('required')">
              Cout obligatoire
            </div>-->
    </div>
<!--<div class="form-group" *ngIf="ressourceMaterielle.type === 'video_projecteur'">
  <label for="video_projecteur">Cursus :</label>
  <select class="form-control" id="video_projecteur" name="video_projecteur" [(ngModel)]="video_projecteur.cursus"
          *ngFor="let r of ressources">
    <option>{{r.cursus}}</option>
  </select>
</div>-->
<div class="form-group" *ngIf="ressourceMaterielle.type === 'salle'" id="demo">
 <!-- <label for="Cursus">Cursus :</label>
  <input class="form-control" id="Cursus" name="Cursus" [(ngModel)]="ressourceMaterielle.cursus"/>&ndash;&gt;-->
    <label for="nbPersonne" >Nombre de personnes dans la Salle &nbsp;</label>
    <input class="form-control" id="nbPersonne" name="nbPersonne" [(ngModel)]="ressourceMaterielle.nbPersonne">
</div>
<div class="form-group" *ngIf="ressourceMaterielle.type === 'ordinateur'">
  <label for="processeur">Processeur :</label>
  <input class="form-control" id="processeur" name="processeur" [(ngModel)]="ressourceMaterielle.processeur"/>
  <label for="ram">Ram :</label>
  <input class="form-control" id="ram" name="ram" [(ngModel)]="ressourceMaterielle.ram"/>
  <label for="disqueDur">Capacite disque dur :</label>
  <input class="form-control" id="disqueDur" name="disqueDur" [(ngModel)]="ressourceMaterielle.disqueDur"/>
  <label for="anneeAchat">Annee d'achat :</label>
  <input class="form-control" type="date" id="anneeAchat" name="anneeAchat" [(ngModel)]="ressourceMaterielle.anneeAchat"/>
 <!-- <select class="form-control" id="stagiaire" name="stagiaire" [(ngModel)]="ressourceMaterielle.stagiaire"
          *ngFor="let r of ressources">
    <option>{{r.stagiaires}}</option>
  </select>
-->
</div>
<button type="submit" [disabled]="form.invalid" class="btn btn-success">Enregistrer</button>
</form>
</div>

