<h1 style="background-color: darkgrey; padding-left: 5px">Ressources Materielles</h1>
<table class="table">
  <thead class="thead-dark">
  <tr>
    <th scope="col">ID</th>
    <th scope="col">Code</th>
    <th scope="col">Coût</th>
    <th scope="col">Type</th>
    <th><input style="color: black" type='text' [(ngModel)]="value"></th>
  </tr>
  </thead>
  <tr *ngFor="let r of testNom(), let index=index">
    <td scope="rol">{{r.id}}</td>
    <td scope="rol">{{r.code}}</td>
    <td scope="rol">{{r.coutUtilisation}}</td>
    <td scope="rol">{{r.type}}</td>
    <td>
      <a href="" class="btn btn-info" [routerLink]="['/ressourcematerielle', 'edit', r.id]">Editer</a>
      <button class="btn btn-danger supr" (click)="delete(r.id)"> Supprimer</button>
    </td>


  </tr>

  <br/>
  <tr>
    <th scope="rol" class="cout">Total du coût d'utilisation /jour:</th>
    <td scope="rol">{{somme()}}</td>
  </tr>

  <tfoot>
    <td>
      <a href="" class="btn btn-primary" [routerLink]="['create', 'salle']">Ajout Salle</a>
      <a href="" class="btn btn-primary supr" [routerLink]="['create', 'ordinateur']">Ajout Ordinateur</a>
      <a href="" class="btn btn-primary supr" [routerLink]="['create', 'video_projecteur']">Ajout Video-projecteur</a>
    </td>
  </tfoot>

</table>
<br/>
<br/>
<button data-toggle="collapse" data-target="#demo" class="btn btn-success">Liste des ordinateurs</button>
<div id="demo" class="panel-collapse collapse">
  <h2 class="padtop" style="background-color: darkgrey; padding-left: 5px">Liste des Ordinateurs</h2>
  <table class="table">
    <thead class="thead-dark">
    <tr>
      <th>ID</th>
      <th>Code</th>
      <th>Processeur</th>
      <th>Ram</th>
      <th>Disque Dur</th>
      <th>Date d'achat</th>

    </tr>
    </thead>
    <tr *ngFor="let o of ordinateurs">
      <td>{{o.id}}</td>
      <td>{{o.code}}</td>
      <td>{{o.processeur}}</td>
      <td>{{o.ram}}</td>
      <td>{{o.disqueDur}}</td>
      <td>{{o.anneeAchat}}</td>

    </tr>
  </table>
</div>
<br/>
<br/>
<button data-toggle="collapse" data-target="#demo2" class="btn btn-success">Liste des Video-Projecteurs</button>
<div id="demo2" class="panel-collapse collapse">
  <h2 class="padtop" style="background-color: darkgrey; padding-left: 5px">Liste des video-projecteurs</h2>
  <table class="table">
    <thead class="thead-dark">
    <tr>
      <th>ID</th>
      <th>Code</th>

    </tr>
    </thead>
    <tr *ngFor="let v of videoprojecteurs">
      <td>{{v.id}}</td>
      <td>{{v.code}}</td>

    </tr>
  </table>
</div>
<br/>
<br/>
<button data-toggle="collapse" data-target="#demo3" class="btn btn-success">Liste des Salles</button>
<div id="demo3" class="panel-collapse collapse">
  <h2 class="padtop" style="background-color: darkgrey; padding-left: 5px">Liste des Salles</h2>
  <table class="table">
    <thead class="thead-dark">
    <tr>
      <th>ID Salle</th>
      <th>Code</th>
      <th>Nombre de personnes</th>

    </tr>
    </thead>
    <tr *ngFor="let s of salles">
      <td>{{s.id}}</td>
      <td>{{s.code}}</td>
      <td>{{s.nbPersonne}}</td>

    </tr>

  </table>

