<h1 style="background-color: darkgrey; padding-left: 5px">Matieres</h1>
<table class="table">
  <thead class="thead-dark">
  <tr>
    <th>ID</th>
    <th>Titre</th>
    <th>Niveau</th>
    <th>Duree</th>
    <th>Objectif</th>
    <th>Prerequis</th>
    <th>Contenu</th>
    <th>Formateurs</th>
    <th>Lessons</th>
    <th></th>
    <th></th>
  </tr>
  </thead>
  <tr *ngFor="let m of matieres">
    <td>{{m.id}}</td>
    <td>{{m.titre}}</td>
    <td>{{m.niveau}}</td>
    <td>{{m.duree}}</td>
    <td>{{m.objectif}}</td>
    <td>{{m.prerequis}}</td>
    <td>{{m.contenu}}</td>
    <td></td>
    <td></td>
    <td><a href="" [routerLink]="['/matiere', 'edit', m.id]" class="btn btn-info">Editer</a><button (click)="delete(m.id)" class="btn btn-danger supr">Supprimer</button><td>
  </tr>
</table>

<a href="" [routerLink]="['/matiere', 'create']" class="btn btn-info">Ajouter</a>
